
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by <a href="https://www.linkedin.com/in/iranna-patil/" target="blank">Iranna Patil</a></p>
  </div>
</div>
</body>
</html>